<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let tempProducts of products" class="col-3">
          <div class="product-box">
            <img
              class="img-responsive"
              src="{{ tempProducts.imageUrl }} "
              alt="image"
            />
            <h1>{{ tempProducts.name }}</h1>
            <div class="price">
              {{ tempProducts.unitPrice | currency : "EUR" }}
            </div>
            <a class="btn primary-btn" href="#">Add to cart</a>
          </div>
        </div>
        <!-- if products empty then display a message -->
        <div *ngIf="products.length == 0" class="col-12">
          <div class="alert alert-danger" role="alert">No products found</div>
        </div>
      </div>
    </div>
  </div>

  <!-- <table class="table">
  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Units in Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempProduct of products">
      <td class="align-middle">
        <img
          src="../../../assets/images/products/placeholder.png"
          alt="placeholder-of-image"
          height="50"
        />
      </td>
      <td class="align-middle">{{ tempProduct.name }}</td>
      <td class="align-middle">
        {{ tempProduct.unitPrice | currency : "EUR" }}
      </td>
      <td class="align-middle">{{ tempProduct.unitsInStock }}</td>
    </tr>
  </tbody>
</table> -->
</div>
